</table>
</td>
</tr>
<tr>
    <td style="padding:30px;background:#3b3b3b;">
        <table role="presentation"
            style="width:100%;border-collapse:collapse;border:0;border-spacing:0;font-size:9px;font-family:Arial,sans-serif;">
            <tr>
                <td style="padding:0;width:100%;text-align: center;" align="center">
                    <p style="margin:0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#ffffff;">
                        ExpoSAT, Cégep de Victoriaville © {{ "now"|date('Y') }} - Tous droits réservés <br />
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</td>
</tr>
</table>
</body>

</html>