<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpoSAT</title>
</head>
<body style="margin:0;padding:0;">
    <table style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;" >
        <tr>
			<td align="center" style="padding:0;">
				<table role="presentation" style="width:802px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;">
					<tr>
						<td align="center" style="padding:40px 0 30px 0;background:#3b3b3b;">
							<img src="{{baseURL}}/api/public/Images/Logo/LOGO%20EXPOSAT_2022.png" alt="" width="200" style="height:auto;display:block;" />
                            <!--<img src="https://www.cegepvicto.ca/wp-content/themes/cegepdevictoriaville/images/cegep_victoriaville_logo.png" alt="" width="200" style="height:auto;display:block;" />-->
						</td>
					</tr>
					<tr>
						<td style="padding:36px 30px 42px 30px;">
							<table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
								