#table_survey
{
    display:flex;
}
textarea 
{
    width: 100%;
    height: 10vh;
}
.card_survey
{
    display: none;
    margin-top:25px;
    margin-bottom:25px;
}
button.lastButton
{
    display: inline-block;
}
button.boutonGrilleEvaluation
{
    margin-top:0px;
}
.slider_box
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.question
{
    margin-top:20px;
    margin-bottom:20px;
}
.slider
{
    margin-top:25px;
    margin-bottom:25px;
}
input.sliderValue
{
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    border: 2px black solid;
    border-radius: 5px;
}
.buttonFormSubmit
{
    margin-top:25px !important;
}
@media only screen and (max-width: 725px)
{
    #table_survey
    {
        display: none;
    }
    .card_survey
    {
        display: block;
    }
}