.marginBottom{
    margin-bottom: 20px;
}

.alignCenter{
    align-items: center;
}

.alignRight{
    justify-content: flex-end;
}

.rightMargin{
    margin-right: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.buttonContainer {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #007bff;
    cursor: pointer;
}

.buttonDisabled {
    background-color: #007bff;
    color: #fff;
    cursor: not-allowed;
}

.buttonEnabled {
    background-color: #f8f9fa;
    color: #000;
}

.generatorButtonContainer {
    text-align: right;
    margin-bottom: 20px;
}