/*inspiré par Ajouter Admin*/
h1.titre {
    font-size: 30px;
}
/*Pour mettre le contenu du formulaire à gauche du site*/
.toLeft {
    align-items: left;
    margin-top: 40px;
    padding: 20px;
}
.toCenter {
    align-items: center;
    margin-top: 40px;
    padding: 20px;
}
.centerText {
    text-align: center;
}
/*Design pour un hr*/
hr.gradientTransparent {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.paddingForm {
    margin: 20px;
}
/*Elements sur un ecran d'ordinateur*/
@media only screen and (max-width: 1920px) and (min-width: 1080px) {
    .lenTextForm {
        width: 50%;
    }
    .largeurPaper {
        margin-left: 150px;
        margin-right: 150px;
    }
}
/*Elements sur une tablette*/
@media only screen and (max-width: 1080px) and (min-width: 750px) {
    .largeurPaper {
        margin-left: 100px;
        margin-right: 100px;
    }
}
/*Elements sur telephone*/
@media only screen and (max-width: 750px) {
    .longueurTexteForm {
        width: 100%;
    }
}
/*Styles pour le look du formulaire*/
.padding20{
    padding-top: 20px;
}

.paddingPaper{
    padding: 40px;
}

.paddingPaperTop{
    padding-top: 40px;
}

.subhead{
    background-color:black !important;
    color: white !important;
    text-align: center;
    margin-top: -4.65rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

div .boutonMembre{
    background-color: black;
    color: white;
    
}
div .boutonMembre:first-child{
    margin-right: 10px;
}

div .boutonMembre:hover{
    background-color: rgb(41, 41, 41);
    color: white;
    border-color: rgb(41, 41, 41);
}
.red{
    color: red;
}