/*Elements sur un ecran d'ordinateur*/
@media only screen and (max-width: 1920px) and (min-width: 1080px) {
    .longueurTexteForm {
        width: 50%;
    }
    .largeurPaper {
        margin-left: 150px;
        margin-right: 150px;
    }
}
/*Elements sur une tablette*/
@media only screen and (max-width: 1080px) and (min-width: 750px) {
    .largeurPaper {
        margin-left: 100px;
        margin-right: 100px;
    }
}
/*Elements sur telephone*/
@media only screen and (max-width: 750px) {
    .longueurTexteForm {
        width: 100%;
    }
}
/*Styles pour le look du formulaire*/


.paddingPaper{
    padding: 40px;
}

.paddingPaperTop{
    padding-top: 40px;
}

.subhead{
    background-color:black !important;
    color: white !important;
    text-align: center;
    margin-top: -4.65rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

div .btnMember{
    background-color: black;
    color: white;
    
}
div .btnMember:first-child{
    margin-right: 10px;
}

div .btnMember:hover{
    background-color: rgb(41, 41, 41);
    color: white;
    border-color: rgb(41, 41, 41);
}
.paddingForm {
    margin: 20px;
}
.centerText {
    text-align: center;
}
.paddingSquare{
    padding-top: 20px;
}