{% include './Emails/Components/Header.html.twig' %}
<tr>
    <td style="padding:0 0 6px 0;color:#153643;text-align: center;">
        <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;">Administration</h1>
        <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Bonjour {{name}},</p>
        <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">
            Vous avez été ajouté comme admin à l'équipe d'exposat! Votre mot de passe est: {{pwd}}
            Il est fortement recommandé de vous connecter et de changer votre mot de passe.
        </p>
        <br>
    </td>
</tr>
{% include './Emails/Components/Footer.html.twig' %}